<div>


  <div class="row">
    <div class="column left">

    </div>

    <div class="column space">
    </div>

    <div class="column right ex3">
      
      <div class="buttons">
        <button class="btn" ><a [routerLink]="['officialstore']" style='text-decoration:none;'>Official store</a></button>
        <button class="btn"><a [routerLink]="['announcement']" style='text-decoration:none;'>Announcement</a></button>
      </div>
      



      <router-outlet></router-outlet> 






    </div>

  </div>


  <div class="addTP">

    <button class="btnadd" ><a [routerLink]="['../addthematicprops']" style='text-decoration:none;'>Add thematic props</a></button>



  </div>


</div>




