.levi{
    
    width: 600px;
    height: 300px;
    display: inline-block;
    margin-top: 30px;
    vertical-align: top;
}


.space{

    width: 100px;
    display: inline-block;
}


.desni{
   
    width: 700px;
    height: 300px;
    display: inline-block;
    margin-top: 30px;


}

.table,th,td{
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid black;
    background: rgb(47, 189, 245);
}
