<div>

  <div class="col">
    <h2 align="center" class="header">Theaters</h2>
  </div>
  

    <ul *ngFor="let theatre of theatres" type="square" class="ul" > 
      <li><p><span class="theatre1"> {{theatre.name}}</span> <br> <span class="theatre2">({{theatre.address}}, {{theatre.description}}, {{theatre.rating}})  </span> </p> </li>
        
    </ul>
    
    <agm-map [longitude]="longitude" [latitude]="latitude">
      <ul *ngFor="let cinema of theatres">
        <agm-marker [longitude]="cinema.longitude" [latitude]="cinema.latitude">
          <agm-info-window>
            <h2>{{cinema.name}}</h2>
            <p>{{cinema.address}}</p>
          </agm-info-window>
        </agm-marker>
      </ul>
    </agm-map>
</div>