.header{
    font-family: inherit;
    font-size: 1.3cm;
    color:rgb(220, 230, 235);
    border:inset 2px;
    margin-top: 0em;
    margin-bottom: 0em;
}

.col {
    background: #2885C4;
    display: inline-block;
    margin-top: 1em;
    margin-left: 20em;
    width: 900px;
}

.login{
    display: inline-block;
    
    margin-top: 0cm;
}

.loginText{
    font-family: monospace;
    font-size: 0.9cm;
    color: #080977;
    
    padding-top: 60px;
}

.space2{
    display: inline-block;
    background:#57B3F1;
    width: 8em;
}

.space3{
    display: inline-block;
    background:#57B3F1;
    height: 1.5em;
}

.button{
    font-size: 0.5cm;
    width: 123px;
    padding-left: 5px;
    background-color: #ff751a;
}

.link1{
    font-family: monospace;
    font-size: 1.0cm;
    color: #080977;
}

.container{
    border:groove   3px;
    display: inline-block;
    margin-left: 27em;
    margin-top: 7em;
    background:#57B3F1;
    padding: 1em 1em;
    text-align:justify;
}

.containerr{
    border:groove  3px;
    display: inline-block;
    background:#57B3F1;
    padding: 1em 1em;
}

.space{
    display: inline-block;
    background:#57B3F1;
    width: 15em;
}

.imageCinema{
   
    display: inline-block;
    margin-left: 26em; 
    margin-top: 2em;
}

.imageTheatre{
   
    display: inline-block;
     
    
}

.space1{
    display: inline-block;
    background:#57B3F1;
    width: 13em;
}

