.header{
    font-family: inherit;
    font-size: 2cm;
    color: #03095c;
}
.cinema1{
    font-family: monospace;
    font-size: 1.0cm;
    color: #080977;
}
.cinema2{
    font-family: cursive;
    font-size: 0.4cm; 
    color: #080977;
}

.ul{
    margin:0 0 2em 4em;
}

.col {
    margin:0em 30em 0em 30em;
    background: #2885C4;
}

agm-map{
   width: 900px;
    height: 500px;
}