   
   
   <div class="tab">

        <button class="dugme"><a [routerLink]="['homepage']" style='text-decoration:none;'>Home page</a></button>
        <button class="dugme"><a [routerLink]="['cinemaslog']" style='text-decoration:none;'>Cinema</a></button>
        <button class="dugme"><a [routerLink]="['cinemas']" style='text-decoration:none;'>Theatre</a></button>
        <button class="dugme"><a [routerLink]="['cinemas']" style='text-decoration:none;'>Friends</a></button>
        <button class="dugme"><a [routerLink]="['reservation']" style='text-decoration:none;'>Reservation</a></button>
        <button class="dugme"><a [routerLink]="['edituser']" style='text-decoration:none;'>Settings</a></button>
        <button class="dugme"><a [routerLink]="['fanzone']" style='text-decoration:none;'>Fan zone</a></button>
        
    </div>

    
        <button class="buttonL" (click)="logoutFun()">Logout</button>
    




<router-outlet></router-outlet>