.tab {
    overflow: hidden;
    background-color: #2E9CE6;
    margin-top: 0cm;
}

.dugme{
    margin: 0em 0em 0em 0em;
    width: 213.3px;
    height: 36px;
    font-size: 0.45cm;
}

.tabs{
    overflow: hidden;


}

.buttonL{
    background: rgb(235, 158, 16);
    margin-top: 10px;
    margin-left: 90em;
    font-size: 1em;
}