.levi{
    width: 600px;
    height: 600px;
    display: inline-block;
    background: chartreuse;
    margin-top: 30px;
    margin-left: 20px;
}


.space{
    width: 100px;
    display: inline-block;
}

.desni{
    width: 600px;
    height: 600px;
    display: inline-block;
    background: rgb(255, 0, 98);
    margin-top: 30px;
    vertical-align: top;
}

.label{
    margin-left: 30px;
    margin-top: 18px;
    width: 180px;
    height: 35px;
    display: inline-block;  
    font-size: 1.1em;
}

.input{
    width: 200px;
    height: 35px; 
    margin-top: 18px;
    display: inline-block;

    vertical-align: top;
    
}

.in{
    margin-top: 22px;
}

.dugmeC{
    margin-left: 430px;
    margin-top: 55px;
    font-size: 1.1em;
}

.ok{
    width: 70px;
    height: 25;
}

.gold{
    margin-top: 30px;
    margin-left: 50px;
    background: #fffc31;
    width: 500px;
    height: 100;
    font-size: 1.1em;
}

.silver{
    margin-top: 30px;
    margin-left: 50px;
    background: #a7a6a1;
    width: 500px;
    height: 100;
    font-size: 1.1em;
}

.bronze{
    margin-top: 30px;
    margin-left: 50px;
    background: #f3a633;
    width: 500px;
    height: 100;
    font-size: 1.1em;
}