<div>
        <div>
            <h1 class="header">List of reservations</h1>
        </div>
        <hr>
    
        <div class="row">
    
          <div class="column left ex3" style="background-color:lightblue;">
              <div>
                <div>
                <ul *ngFor="let reservation of reservations"  class="ul" > 
                    <div>
                    <li class="slova"> Projection: {{reservation.projectionA}}</li>        
                    <p class="slova"> Projection term: {{reservation.dateA}} {{reservation.projectionterm.term}}</p>     
                    <div class="slova">Reserved seats:
                     <p class="slova1" *ngFor="let seats of reservation.seats" > {{seats.ordinal}}</p>     
                    </div>
                    </div>
                    <div class="remove">

                            <button type="button" id={{reservation.id}} (click)="deleteReser(reservation.id)">Remove     </button>
                            <button type="button" id={{reservation.id}} (click)="getUsers(reservation.id)">Invite friends</button>
                  
                    </div>
                    
                </ul>
                </div>
                
              </div>
            
          </div>

          <div class="column space">

          </div>
  
          <div class="column right ex3" style="background-color:lightblue;">
            <label class="label3">List of friends</label>
            <div>
            <ul *ngFor="let user of users" type="square" class="ul" > 
                <div>
                <li><p><span class="slova"> {{user.email}}</span>   </p> </li>
                </div> 
                <div>
                    <button (click)="inviteFriends(user.id)">Invite</button>
                </div>
            </ul>
            </div>
  
          </div>
    

        </div>
         
    
    </div>