.addann{
    margin-left: 870px;
    margin-top: 20px;
   
}

.addButton{
    background: rgb(118, 252, 8);
    width: 140px;
    height: 30px;
    
}

.levi{
    display: inline-block;
    background: rgb(214, 255, 30);
    width: 430px;
    height: 700px;
    margin-top: 0px;
    float: left;

}

.space{
    width:50px;
    margin-left: 50px;
}
.desni{
    width: 600px;
    display: inline-block;

    margin-top: 0px;
    height: 700px;
    vertical-align:top;
    
}

.announ{
    width: 290px;
    height: 100px;
    margin-top: 15px;
    margin-left: 0cm;
    display: inline-block;
    
}   

.btnPreview{
    
    margin-top: 0px;

}

.divBtn{
    display: inline-block;
    margin-left: 25px;
}

div.ex3 {
    overflow: auto;
}

.table,th,td{
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid black;
}