.addann{
    margin-left: 870px;
    margin-top: 20px;
   display: inline-block;
}

.addAnnouncement{
    display: inline-block;
}
.addButton{
    background: rgb(118, 252, 8);
    width: 140px;
    height: 30px;
    
}

.levi{
    display: inline-block;
    background: #45beee;
    width: 430px;
    height: 560px;
    margin-top: 0px;
    float: left;

}

.space{
    width:50px;
    margin-left: 50px;
}
.desni{
    width: 600px;
    display: inline-block;
    margin-left: 70px;
    margin-top: 0px;
    height: 500px;
    vertical-align:top;
    
}

.announ{
    width: 260px;
    height: 100px;
    margin-top: 15px;
    margin-left: 0cm;
    display: inline-block;
    
}   

.btnPreview{
    
    margin-top: 2px;

}

.btnAdd{
    
    margin-top: 2px;
    width: 73px;
}

.divBtn{
    display: inline-block;
    margin-left: 25px;
  
   
}

div.ex3 {
    overflow: auto;
}

.table,th,td{
    margin-left: 150px;
    margin-top: 50px;
    border: 1px solid black;
}

.tableadd,th,td{
    margin-left: 110px;
    margin-top: 0px;
    border: 1px solid black;
}

.addB{
    
    width: 700px;
    height: 150px;
    background: #45beee;
    margin-left: 20px;
}

.btnaddbid{
    vertical-align: top;
    display: inline-block;
    margin-left: 40px;
    
}

.disp{
    display: inline-block;

}

.ajdeBrate{
    margin-top: 30px;
    margin-left: 40px;
}