<div>


<div class="addann">
  <button class="addButton"><a [routerLink]="['../../addAnnouncementt']" style='text-decoration:none;'>Add announcement</a></button>
</div>


 
<div class="levi ex3">
    <ul *ngFor="let ann of announcements">

      <div class="announ">
        Name:{{ann.name}}<br>
        Description:{{ann.description}}<br>
        Date:{{ann.date}}
      </div>
      

      <div class="divBtn">
        <button class="btnAdd" (click)="getAnnOfId(ann.id)" onclick="funkcijaDisabled()">Offer</button><br>
         <button class="btnPreview" (click)="getBidsOfAnn(ann.id)">View bids</button>
       </div>  
     <hr>
    </ul>

  </div>

  <div class="space"></div>
  <div class="desni">
    
      <div class="addB">
          <h3 align="center">Add bid on announcement</h3>
          <div class="disp">
          <table style="width:60%" class="tableadd">
              <tr >
                <th align="left">Username</th>
                <th align="left">Announcement</th> 
                <th align="left">Offered</th> 
              </tr>
              <tr>
                  <td>{{user.name}}</td>
                  <td >{{annOfId.name}}</td>
                  <td><input placeholder="offered" type="text" id="inputBid" [(ngModel)]="offered" disabled></td>
              </tr>
              
            </table>
          </div>
            <div class="btnaddbid">
                <button class="ajdeBrate" onclick="funkcijaDisabled1()" (click)="addBidOnAnnouncement()">Add bid</button>
              </div>

      </div>
    
      <table style="width:60%" class="table">
          <tr >
            <th align="left">Username</th>
            <th align="left">Offered</th> 
          </tr>
          <tr *ngFor="let b of bids">
              <td>{{b.user.name}}</td>
              <td>{{b.offered}}</td>
          </tr>
          
        </table>

  </div>

</div>
