<div>

  <div>
    <h1 class="header">Login</h1>
  </div>

  <form action="">
  <div class="poz">
    <div class="div">
      <p class="Text">Email:</p>
      <input class="input" type="text" placeholder="Email" name="email">
    </div>
    <div class="div">
      <p class="Text">Password:</p>
      <input class="input" type="text" placeholder="Password" name="password">
    </div>

    <input class="submit" type="submit" value="Submit">
    <button class="button" onclick="location.href='/login'">Registration</button>
  </div>
  </form>












</div>