.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 13.5cm;
    margin-top: 1cm;
    font-size: 1cm;
}

hr {
    border: 0.4px solid #f1f1f1;
    margin-bottom: 25px;
  }

.div1 {
    display: inline-flex;
    margin: 0.2cm 1cm 0cm 0cm;
}

.div2 {
    display: inline-flex;
    margin: 0.1cm 1cm 0cm 0cm;
}

.text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.poz{
    margin-left: 13cm;
}

.submit{
    margin-left: 15cm;
    margin-top: 0.5cm;
    height: 40px;
    width: 130px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7cm;
}

.input{
    height: 30px;
    width: 300px;
}