<div>

  <div>
    <h1 class="header">Registration</h1>
  </div>
  <hr>

  <form action="">
    <div class="poz">
   
          <div>
            <p class="text">Email:</p>
            <input class="input" type="text" placeholder="Email" name="email">
          </div>
     
          <div>
            <p class="text">Password:</p>
            <input class="input" type="password" placeholder="Password" name="password">
          </div>
     
          <div >
            <p class="text">Repeat password:</p>
            <input class="input" type="password" placeholder="Repeat password" name="repeatpassword">
          </div>
     
          <div >
            <p class="text">Name:</p>
            <input class="input" type="text" placeholder="Name" name="name">  
          </div>
    
          <div >
            <p class="text">Surname:</p>
            <input class="input" type="text" placeholder="Surname" name="surname">
          </div>
              
          <div >
            <p class="text">City:</p>
            <input class="input" type="text" placeholder="City" name="city">
          </div>
       
          <div >
            <p class="text">Phone number:</p>
            <input class="input" type="text" placeholder="Phone number" name="phonenumber">
          </div>
            
      
    </div>

    <input class="submit" type="submit" value="Register">
    
  </form>

</div>

