<div>


    <div>
        <h1 class="header">Thematic props</h1>
      </div>
      <hr>

      <form (ngSubmit)="register">
      <div class="poz">
     
            <div class="div">
              <p class="text">Name:</p>
              <input class="input" type="text" [(ngModel)]="thematicprops.name"  placeholder="Name" name="name" #namer required>
            </div>
       
            <div class="div">
              <p class="text">Description:</p>
              <input class="input" type="text" [(ngModel)]="thematicprops.description"  placeholder="Description" name="description" #descriptionr required>
            </div>
       
            <div class="div">
              <p class="text">Price</p>
              <input class="input" type="text" [(ngModel)]="thematicprops.price"   placeholder="price" name="price" #pricer required>
            </div>
            
            <div class="div">
              <p class="text">Cinema/Theatre</p>
              <article>
              <select (change)="selectChangeHandler($event)" name="cienmasthemtics" id="cinemat" class="select">
                <option value="" selected hidden>Choose Cinema/Theatre</option>
                <option  *ngFor="let cinemast of cinemasthematics"  value={{cinemast.id}}  >{{cinemast.name}}</option>


              </select>
            </article>

            </div>
          
              
        
      </div>
  
      <input class="submit" type="submit" value="Ok" onclick="location.href='../dashboard/fanzone/officialstore'" (click)="addTProps(); namer.value=''; descriptionr.value=''; pricer.value='';  " >
      
    </form>









</div>
