<div>
  
    <div class="levi">

        <div class="friends ex3">

            <div class="friend">
                <ul *ngFor="let re of friendss">
                <p>Prijatelj: {{re.name}}    </p>
               
                <hr>
            </ul>

            </div>

        </div>

    </div>


    <div class="space"></div>


    <div class="desni">

        <div class="requests  ex3">

            <div class="request">
                <ul *ngFor="let re of friendships">
                    <p>Korisnik {{re.userone.name}}  zeli da budete prijatelji  </p>
                    <button (click)="acceptFriend(re.id)">Accept</button>
                    <button (click)="declineFriend(re.id)">Decline</button>
                    <hr>
                </ul>
               
            </div>


        </div>


    </div>
</div>