* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.column {
    float: left;
    padding: 10px;
}


.left{
    background: violet;
    margin-left: 150px;
    width: 330px;
    height: 160px;
    margin-top: 20px;
    
}

.right{
    margin-top: 70px;
    margin-left: 20px;
}

.remove{
    width: 1cm;
    height: 1cm;
    margin-left: 50px;
    display: inline-block;
    margin-top: 70px;
}

.btnremove{
    margin-top: 10px;

}

.addTP{
    margin-left: 960px;
}