<div>

  <div class="addTP">

    <button class="btnadd" ><a [routerLink]="['../../addthematicprops']" style='text-decoration:none;'>Add thematic props</a></button>
    <button class="btnadd" ><a [routerLink]="['../../editthematicprops']" style='text-decoration:none'>Edit thematic props</a></button>


  </div>

  <ul *ngFor="let prop of props">
    
    <div class="row">
    
      <div class="column left">Name: {{prop.name}}<br>
        Description: {{prop.description}}<br>
        Price: {{prop.price}}<br> 
        Cinema/Theatre: {{prop.cinemaTheatre.name}}
      </div>
      
      <div class="column right">

        <button type="button"  id={{prop.id}} onclick="myButtonClicked(this)"  (click)="reservingProps(prop.id)" >Reservation</button>
        
        
      </div>

      <div class="remove">

          <button type="button" id={{prop.id}} class="btnremove" (click)="removeProps(prop.id)">Remove</button>

      </div>

    </div>

  </ul>



</div>
