.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 16em;
    margin-top: 0.3cm;
    font-size: 1cm;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
    height: 400px; /* Should be removed. Only for demonstration */
}

.left{
    background-color: lightblue;
    width: 30%;
    height: 550px;
    margin-top: 30px;
}

.right{
    background-color: lightblue;
    width: 60%;
    height: 600px;
    border: inset 2px;
    margin-top: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.space{
    width: 70px;
    background: #2E9CE6;
    
}

div.ex3 {
    overflow: auto;
}

.levo{
    width: 250px;
    height: 30px;
    background: #07abec;
    margin-left: 0px;
    margin-top: 6px;
    display: inline-block;
}

.desno{
    display: inline-block;

    width: 50px;
    height: 30px;
    margin-top: 6px;
}

.editbtn{

    margin-top: 10px;

}

.text{
    margin-top: 5px;
    font-size: 1.05em; 
}

.poz{
    margin-left: 270px;
    margin-top: 50px;
  
}

.div{
    

}

.text{
    margin-top: 20px;
    font-size: 1.2em;
    margin-bottom: 7px;
}

.input{
    margin-top: 0px;
    width: 210px;
    height: 29px;
}

.select{
    width: 210px;
    height: 29px;
}

.submit{
    width: 80px;
    height: 30px;
    margin-left: 330px;
    margin-top: 30px;
}