.notification{
   
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 440px;
    height: 60px;
    margin-top: 15px;
    margin-left: 0cm;

}


.levi{
    background: aquamarine;
    display: inline-block;
    margin-top: 30px;
    width: 600px;
    height: 600px;
}

.space{
    display: inline-block;
}

.desni{
    background: blue;
    display: inline-block;
    margin-top: 30px;
    width: 600px;
    vertical-align: top;
}